@import './flex2.css';
.userprofile, .userposts{
    width: 150px;
    height: 150px;
}

.userprofile {
    background-color: red;
}
.userposts {
    background-color: green;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

